/*RESET*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Genova, Tahoma, sans-serif;
}

/*HEADER*/
header{
    height: 100px;
    background: grey;
    padding: 0 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    text-transform: uppercase;
    color: #6cc090;
    font-weight: 200;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;

}
.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc090;
}

#check{
    display: none;
} 
/*BANNER*/
#banner{
    padding: 0 50px;
    background-image: url(../IMG/pasta.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: "";
    background: rgba(77,77,92, 0.6); 
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;

}
.contenido-banner{
    position: relative;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3{
    font-weight: 600;
}
.boton-empezar{
    text-decoration: none;
    color: #fff;
    border: 1px solid #6cc090;
    padding: 20px 40px;
    align-self: baseline;
    transition: all 0.4s;
}
.boton-empezar:hover{
    background: #6cc09070;

} 
/*MATERIA PRIMA*/
#materia-prima{
    padding: 50px 50px;
    display: flex; 
    justify-content: center;
    text-align: center;
} 
#materia-prima img{
    border-radius: 100%;
    
}
#materia-prima div{
    padding: 30px 30px;
}
#materia-prima div h4{
    color: #4d4d5c;
    font-size: 20px;
    margin: 15px 0px;
}
#materia-prima div p{
    color: #4d4d5c87;
    font-size: 18px;
}
.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: #6cc091;
    padding: 10px 30px;
    border: 3px solid #6cc091;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;

}
.boton-saber-mas:hover{
    background: #6cc091;
    color: #fff;
} 
/*FORMULARIO*/
#contacto{
    background: #6cc091;
    padding: 50px 0px;
    color: #fff;
}
#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
#contacto form{
    max-width: 80%;
    margin: 0 auto;
}
.datos-form{
    display: flex;
}
.datos-form div{
    padding: 10px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
}
form input,
form textarea{
    background: #6cc091;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #fff;
    width: 100%;
}
form input:focus,
form textarea:focus{
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}
form input::placeholder,
form textarea::placeholder{
    color: #fff;
}
.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}.boton-formulario .boton-saber-mas{
    display: block;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    transition: 0.4s;
} 
.boton-formulario .boton-saber-mas:hover{
    background: #4fa776ad;
}
/*FOOTER*/
    #redes{
        padding: 25px ;
        background: rgba(77,77,92, 0.6);
    } 
    .contenido-iconos{
        padding: 50px 50px 50px 50xpx;
        display: flex;
        justify-content: space-between;
    }
    .facebook{
        padding: 10px; 
        
        width: 30px;
        height: 30px;
    }
    .instagram{ 
        padding: 10px;
        width: 30px;
        height: 30px;
    }
    .whatsapp{
        padding: 10px;
        width: 30px;
        height: 30px;
    }
    .contenido-iconos{
        flex: 1;
        /*margin: 20px 0px;*/
        
    }


    
    

/*RESPONSIVE*/
@media(max-width: 760px){
    /*HEADER*/
    .mostrar-menu, 
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;

    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40x;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    /*MATERIA PRIMA*/
    #materia-prima{
        flex-direction: column; 
        
    }
    /*FORMULARIO*/
    .datos-form{
        flex-direction: column;
    } 
    /*FOOTTER*/
    #redes{
        flex-direction: column; 
    
    }
    

    
    
}
   
   

